Flask
pyTelegramBotAPI
requests
telebot
python-telegram-bot
yt-dlp
beautifulsoup4
moviepy
mega.py
pip-tools
urlextract
instaloader
python-telegram-bot[webhooks]
Werkzeug
youtube_dl
Flask[async]
nest_asyncio
tqdm==4.62.3
uvicorn==0.22.0
asyncio
rq
redis
validators